<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <display-name>Archetype Created Web Application</display-name>

    <!--  context-param 加载的是系统的变量的配置文件，它们属于是系统级别的配置 -->
    <!-- 加载spring配置文件 :对应的是系统级别的配置，作用范围是系统上下文-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/com/example/web/config/applicationContext.xml</param-value>
    </context-param>

    <!-- spring监听 -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- springMvc配置  :对应的是 controller 级别的配置，作用范围是控制层上下文 ,这个地方加载的是 servlet 的变量的配置文件，它们属于 controller 级别的配置
        1.如果不配置这个 servlet-context.xml 的配置文件位置，
        那么默认就会去/WEB-INF/servlet-context.xml 下面去寻找这个文件
        2.如果配置了这个位置，那么它就会去制定位置加载文件 -->
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:/com/example/web/config/dispatcher-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- springmvc请求后缀-->
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>


    <!-- 默认跳转到根目录下的页面，在这里为index.jsp -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
