<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.CustomerMapper">

    <resultMap id="BaseResultMap" type="com.example.bean.Customer">
        <result column="customer_id" property="customerId" jdbcType="BIGINT"/>
        <result column="customer_username" property="customerUsername" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectList" resultMap="BaseResultMap">
        select customer_id , customer_username
        from np_customer
        limit 10
    </select>

</mapper>